/** @format */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 32px;
}

.card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px #000000f3;
}
.movies .card h3 {
  margin-top: 20px;
}
.card h3,
.card p {
  margin: 0;
}

.card img {
  height: 240px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;
  object-fit: cover;
}
